{% extends 'base.html.twig' %}

{% block title %}Page introuvable{% endblock %}

{% block content %}
    <div class="block-small">
    <h2>Page introuvable</h2>
    <p>Désolé, cette page n'existe pas ou est en maintenance.</p>
    <a href="{{ path('home') }}" class="d-grid gap-2 col-6 mx-auto btn btn-info mt-3">Revenir à l'accueil</a>
    </div>
{% endblock %}
